/* Grid layout */
.game-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px;
    padding: 10px;
  }
  
  /* Cells positions */
  .game-item {
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .game-item img {
    width: 80%; /* Size of image to grid cell*/
    height: auto;
    border-radius: 50%; /* circle box */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
    transition: transform 0.5s ease-in-out;
  }
  
  .game-item:hover img {
    transform: scale(1.1);
  }
  
  .game-item-title {
    margin-top: 10px; /* space margin from title to image */
  }
  
  /* Responsive design adjustments for screens smaller than 320px would be 1 column */
  @media (max-width: 319px) {
    .game-grid {
      grid-template-columns: 1fr;
    }
  }
  
  /* Responsive design from 320px with 2 column */
  @media (min-width: 320px) {
    .game-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  /* Responsive design from 600px*/
  @media (min-width: 600px) {
    .game-grid {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
  }
  
  /* I'm sure 100% the sample img use Arial :) */
  body {
    font-family: "Arial", sans-serif;
  }
  
  /* Max with of the content is 900px, similar to large-viewports.png */
  /* remember to update in HTML */
  .main-container {
    max-width: 900px;
    margin: 0 auto;
    width: 100%;
  }
  
  /* ------------- Search ----------------- */
  
  /* wrap all search component in a container by tsx, fit search = dropdown size */
  .search-container {
    margin-top: 30px;
    width: 200px;
    position: relative;
  }
  
  .search-input {
    width: 100%;
  }
  
  .search-history {
    max-height: 400px; /* smaller than 400px, you need to scroll it to check 10, not intuitive */
    overflow-y: auto;
    background-color: rgb(152, 152, 152);
    border: 2px solid #053269;
    position: absolute;
    width: 100%;
    z-index: 1000;
  }
  
  .search-history-item {
    padding: 10px;
    cursor: pointer;
  }
  
  .search-history-item:hover {
    background-color: #ffffff;
  }

/* ------------- Center single item on search ----------------- */
.center-single-item {
    display: flex;
    justify-content: center;
}      